<div class="mx-auto container h-full py-4 bg-gray-700 rounded-lg overflow-auto">
    <div class="rounded-lg px-2">
        <div class="grid rounded-lg h-12 bg-purple-600 mb-4">
            <h1 class="mx-auto my-auto text-3xl text-white">"{{name}}" state</h1>
        </div>

        <div class="grid col rounded-lg p-10 pb-2 min-h-full h-full bg-purple-600 text-lg">
            <ul id="state" class="rounded-lg w-full">
                <li class="border-b-2 border-purple-800 rounded bg-purple-300 p-1 overflow-y-auto" style="height: 95%;">
                    <pre class="prettyprint w-full overflow-x-hidden"><code class="language-json overflow-x-hidden" id="stateId">{{state}}</code></pre>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    let isState = true;
</script>